body {
  background: #ffa600;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  height: 100%;
}

.wrapper {
  width: 800px;
  margin: 30px auto;
  color: white;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#seconds,
#tens {
  font-size: 2em;
}

button {
  border-radius: 5px;
  background: #ffa600;
  color: white;
  border: solid 1px white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
  &:hover {
    @include transition;
    background: white;
    border: solid 1px white;
    color: #ffa600;
  }
}
