body {
  background: 'red';
}

body {
  background:'blue';
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#p1 {
  width:80px;
  height:80px;
}

.p1Choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#p1Health {
  font-size: 50px;
}

#p2{
  width:80px;
  height:80px;
}


.p2Choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#p2Health {
  font-size: 50px;
}

#result {
  font-size: 50px
}

.resultContainer {
    display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height:150px;
  width: 300px;
}